@charset "utf-8";
/* CSS Document */


body, input, select, option, button, a {
	color: #005AB4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
}

body, h1 {
	margin: 0;
	padding: 0;
}

#error {
	background-color: #ffdddd;
	border: 1px dotted red;
	color: red;
	font-weight: bold;
	padding: 0.5em;
}

.headfoot {
	background-color: #005AB4;
	color: white;
	padding: 0.5em;
}

h1 img {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

h1 {
	overflow:hidden;
}

li {
	margin-bottom: 0.5em;
	width: 30em;
}

li form input[type="submit"] {
	float: right;
	margin-left: 1em;
}

#main {
	margin: 2em;
}

#todolist form {
    display: inline;
}

#todolist li {
	clear: right;
}

/* ======= This part is for tooltip ======== */
a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color: #005AB4; font-size: 12pt;
    border:2px solid #DCA; background:#fffAF0;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
/* ======= This part is for tooltip ======== */